accelerate==0.12.0
absl-py
ml_collections
einops
wandb
timm
tensorboard
torchdiffeq

transformers==4.40.2
ftfy==6.1.1
sentencepiece


openai-clip
open_clip_torch
opencv-python
scikit-image
scikit-learn
matplotlib


attrdict


beautifulsoup4
bitsandbytes
cython